<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
  <% include layout/head.ejs %>

  <body>
    <% include layout/chromeframe.ejs %>

    <% include layout/nav.ejs %>

    <div class="container">

      <div id="messages"></div>

      <div id="apiToggle" class="btn-group" data-toggle="buttons-checkbox">
        <button id="OURS" type="button" class="btn">Ours</button>
        <button id="VISIBLE_ENERGY" type="button" class="btn active">Visible Energy</button>
        <button id="SMART_THINGS" type="button" class="btn">Smart Things</button>
      </div>

      <hr>

      <ul class="nav nav-tabs">
        <li><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
        <li><a href="#jobs" data-toggle="tab">Jobs</a></li>
      </ul>

      <div class="tab-content">  
        <div class="tab-pane" id="dashboard">
          <div class="row" id="widgets"></div>
        </div>
        <div class="tab-pane" id="jobs">Test</div>
      </div>

    	<% include layout/footer.ejs %>

   	</div> <!-- /container -->

    <% include layout/commonScripts.ejs %>

  </body>
</html>