<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
  <% include layout/head.ejs %>

  <body>
    <% include layout/chromeframe.ejs %>

    <% include layout/nav.ejs %>

    <div class="container">

      <div id="dashboard" class="row">

      </div>
    	

    	<% include layout/footer.ejs %>

   	</div> <!-- /container -->

    <% include layout/commonScripts.ejs %>

  </body>
</html>